body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img.center {
  margin: 0 auto;
  display: block;
}

header, footer {
  background-color: rgb(185, 231, 237);
  padding: 0.5rem;
}

main {
  padding-bottom: 4rem;
}

footer {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
}

header img {
  width: 80%;
  max-width: 250px;
  border-radius: 10px;
}

header.logo-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

header.logo-grid img {
  max-width: 100px;
  margin-left: 1rem;
  margin-right: 1rem;
}

header.logo-grid h1 {
  text-align: left;
}

nav {
  background-color: rgb(90, 90, 90);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

nav ul li a:hover, 
nav ul li a:focus,
nav ul li a.active {
  background-color: rgb(1, 66, 81);
  color: white;
}

nav.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav.top-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

nav.top-nav ul li {
  width: 100%;
  text-align: center;
}

nav.top-nav ul li {
  text-align: center;
  box-sizing: border-box;
  border: 1px solid white;
}

nav.top-nav ul li a {
  display: block;
  width: 100%;
}

body > main > section {
  padding: 1rem;
  scroll-margin-top: 8rem;
}

body > main > section:nth-of-type(even) {
  background-color: rgb(236, 236, 236);
}

#top {
  scroll-behavior: smooth;
}

a.back-to-top {
  position: -webkit-sticky;
  position: sticky;
  place-self: end;
  bottom: 1rem;
  margin-top: 60vh;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  background-color: rgb(1, 66, 81);
  border: 1px solid gray;
  border-radius: 0.5rem;
  width: 2rem;
  text-align: center;
  vertical-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.75rem 0.5rem 0.25rem;
}

a.back-to-top:hover, 
a.back-to-top:focus {
  color: rgb(1, 66, 81);
  border-color: rgb(1, 66, 81);
  background-color: rgb(236, 236, 236);
}

footer p {
  text-align: center;
}

img.screenshot {
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  nav.top-nav ul {
    flex-direction: row;
  }

  main section {
    scroll-margin-top: 3rem;
  }
}